@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto&family=Sevillana&display=swap');
html {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.button{
    border: 1px solid black;
    border-radius: 2px;
    width: 100px;
    height: 100px;
    padding: 15px 32px;
    margin: 20px 10px;
    cursor: pointer;
    transition: 0.2s all;
}
.button:active {
    transform: translateY(4px);
  }
  .button:hover{
    border: 3px solid black;
  }
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#purple{
    background-color: purple;
}
#white{
    background-color: white;
}